@media only screen and (min-width: 2630px) {
  .indexcontainer {
    height: 380px;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 2629px) {
  .indexcontainer {
    height: 780px;
  }
}

@media only screen and (min-width: 1090px) and (max-width: 1359px) {
  .indexcontainer {
    height: 1160px;
  }
}

@media only screen and (min-width: 830px) and (max-width: 1089px) {
  .indexcontainer {
    height: 1560px;
  }
}

@media only screen and (min-width: 565px) and (max-width: 829px) {
  .indexcontainer {
    height: 1960px;
  }
}

@media only screen and (max-width: 564px) {
  .indexcontainer {
    height: 3900px;
  }
}
