#menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menuitem {
  float: left;
}

.menuitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuitem a:hover:not(.active) {
  background-color: #111;
}

.menuabout {
  float:right;
}

.active {
  background-color: #4CAF50;
}
