/*1 row*/
@media only screen and (min-width: 2880px) {
  .indexcontainer {
    height: 380px;
  }
}

/*2 row*/
@media only screen and (min-width: 1510px) and (max-width: 2879px) {
  .indexcontainer {
    height: 780px;
  }
}

/*3 row*/
@media only screen and (min-width: 1295px) and (max-width: 1509px) {
  .indexcontainer {
    height: 1160px;
  }
}

/*3 row*/
@media only screen and (min-width: 1095px) and (max-width: 1294px) {
  .indexcontainer {
    height: 1560px;
  }
}

/*4 row*/
@media only screen and (min-width: 830px) and (max-width: 1094px) {
  .indexcontainer {
    height: 1950px;
  }
}

/*5 row*/
@media only screen and (min-width: 560px) and (max-width: 829px) {
  .indexcontainer {
    height: 3120px;
  }
}

/*6 row*/
@media only screen and (max-width: 559px) {
  .indexcontainer {
    height: 5840px;
  }
}
